####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
offline=false

##################################
# Organization tokens:
##################################
apiKey=

projectName=
projectVersion=
projectToken=

productName=
productVersion=
productToken=

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.jar
excludes=**/*sources.jar **/*javadoc.jar
case.sensitive.glob=false
followSymbolicLinks=true
